/*
*********
RESET
*********
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
*********
BODY
*********
*/
body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*
*********
HEADER
*********
*/
header{
    position: relative;
    height:50px;
}
.head{
    padding: 10px;
    position: absolute;
    top:1px;
    right: 1px;
    margin: 0 auto;
}
.head span {
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 5px;
}

/*
*********
MAIN
*********
*/
main{
    height: calc(100vh - 130px);
    overflow: auto;
}
.container{
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
}
.users{
    
    
    
}
.user{
    margin: 10px;
    width: calc(100% - 20px);
    position: relative;
}

.user img {
    height: 100%;
    width: 100%;
    display: block;
}
.info span{
    background-color: #596875;
    opacity: 0,5;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 7px;
}
/*
*********
FOOTER
*********
*/
footer{
    background-color: #222222;
    height: 80px;
    
}

.option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.micro{
    height: 100%;
}

.option>video{
    width: 20%;
    display: flex; 
       
}
.ending{
    height: 80px;
    background-color: #4a4a4a;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ending span{
    text-align: center;
    color: red;
}
