/*
*********
RESET
*********
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
*********
BODY
*********
*/
body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*
*********
HEADER
*********
*/
header{
    position: relative;
    height:50px;
}
.head{
    padding: 10px;
    position: absolute;
    top:1px;
    right: 1px;
    margin: 0 auto;
}
.head span {
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 5px;
}

/*
*********
MAIN
*********
*/
main{
    height: calc(100vh - 130px);
    overflow: auto;
}
.container{
    margin: 0 auto;
    width: 1700px;
}
.users{
    display: flex;
    flex-wrap: wrap;
}
.user{
    margin: 10px;
    width: calc(100% / 7 - 20px);
}
/*
*********
FOOTER
*********
*/
footer{
    background-color: #222222;
    height: 80px;
}

.option{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.micro{
    height: 100%;
}

.option>video{
    display: flex;    
}
.ending{
    width: 114px;
    height: 100%;
}
.ending span{
    text-align: center;
    background-color: #4a4a4a;
    color: red;
    
}